    body {
        margin: 0;
        padding: 0;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        background-color: #849d8f;
        /*временно для сетки*/
        background-image: url("../img/gllacy-index.jpg");
        background-size: 1200px auto;
        background-position: 50% 0%;
        background-repeat: no-repeat;
    }
    
    a {
        text-decoration: none;
        color: #ffffff;
    }
    /*a:hover,
a:focus,
a:active {
    color: #ffbc9e;
}*/
    
    .img {
        max-width: 100%;
        height: auto;
    }
    
    .visually-hidden {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
    /***** header *****/
    
    .main-header-logo {
        width: 154px;
        height: 64px;
    }
    
    .main-navigation-wrapper {
        width: 100%;
        margin-left: 9px;
    }
    
    .container {
        width: 1146px;
        margin: 0 auto;
        padding: 0 27px;
    }
    
    .navigation-container {
        display: flex;
    }
    
    .container .main-navigation-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .main-navigation {
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        color: #ffffff;
    }
    
    .site-navigation,
    .user-navigation {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    
    .site-navigation a,
    .user-navigation a {
        color: #ffffff;
        display: block;
        border-radius: 25px;
    }
    
    .site-navigation a {
        padding: 7px 14px;
        margin: 13px 0px;
    }
    
    .user-navigation a {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 9px 17px;
        margin: 13px 0px;
        margin-left: 8px;
    }
    
    .user-navigation .basket-link,
    .user-navigation .login-link {
        position: relative;
        padding-left: 45px;
    }
    
    .user-navigation .search-line {
        position: relative;
        padding: 16px;
        border-radius: 50%;
    }
    
    .basket-link::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 17px;
        width: 21px;
        height: 20px;
        background-image: url("../img/basket.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    
    .login-link::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 17px;
        width: 20px;
        height: 19px;
        background-image: url("../img/login.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    
    .search-line::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 6px;
        width: 20px;
        height: 19px;
        background-image: url("../img/loupe.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    
    .site-navigation a:hover,
    .site-navigation a:focus,
    .user-navigation a:hover,
    .user-navigation a:focus {
        text-decoration: none;
        background-color: #f7f6f3;
        color: #323232;
    }
    
    .header-contacts {
        width: 168px;
        margin-left: auto;
    }
    
    .header-worktime {
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        text-align: end;
        vertical-align: top;
        margin: 0;
        padding: 0;
    }
    
    .header-telephone {
        font-size: 22px;
        font-weight: 700;
        line-height: 34px;
        text-align: end;
        vertical-align: bottom;
        margin: 0;
        padding: 0;
    }
    /***** slider *****/
    
    .site-wrapper {
        padding-top: 10px;
        min-width: 940px;
        /* background-color: #849d8f; */
        /* background-image: url("../img/slider-background1.png"); */
        background-repeat: no-repeat;
        background-position: top center;
        transition: background-image 0.5s ease, background-color 0.5s ease;
    }
    /****** предварительна загрузка картинок фона дл плавности *****/
    
    .site-wrapper::before,
    .site-wrapper::after {
        content: "";
        visibility: hidden;
    }
    
    .site-wrapper::before {
        /* background-image: url("../img/slider-background2.png"); */
    }
    
    .site-wrapper::after {
        /* background-image: url("../img/slider-background3.png"); */
    }
    /***** ****/
    
    .slider {
        position: relative;
        padding-top: 270px;
        text-align: center;
        color: #ffffff;
    }
    
    .slider-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .slide {
        display: none;
    }
    
    .slide-title {
        width: 700px;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 60px;
        line-height: 60px;
        font-weight: 700;
    }
    
    .button {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
        border: none;
        border-radius: 50px;
        box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
        cursor: pointer;
        padding: 12px 22px;
    }
    
    .button:hover {
        background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
        box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    }
    
    .button:active {
        background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
        box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    }
    
    .slider-button {
        font-size: 32px;
        font-weight: 700;
        line-height: 41px;
        display: inline-block;
        padding: 12px 44px;
        text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
        text-align: center;
    }
    
    .slider-controls {
        position: absolute;
        bottom: 22px;
        left: 0;
        z-index: 20;
        font-size: 0;
    }
    
    .slider-controls label {
        display: inline-block;
        width: 17px;
        height: 17px;
        margin-right: 8px;
        vertical-align: top;
        background-color: transparent;
        border: 2px solid #ffffff;
        border-radius: 50%;
        cursor: pointer;
    }
    
    #product-1:checked~.site-wrapper #slide1,
    #product-2:checked~.site-wrapper #slide2,
    #product-3:checked~.site-wrapper #slide3 {
        display: block;
    }
    
    #product-1:checked~.site-wrapper label[for="product-1"],
    #product-2:checked~.site-wrapper label[for="product-2"],
    #product-3:checked~.site-wrapper label[for="product-3"] {
        background-color: #ffffff;
    }
    
    #product-1:checked~.site-wrapper {
        /* background-color: #849d8f; */
        /* background-image: url("../img/slider-background1.png"); */
    }
    
    #product-2:checked~.site-wrapper {
        /* background-color: #8996a6; */
        /* background-image: url("../img/slider-background2.png"); */
    }
    
    #product-3:checked~.site-wrapper {
        /* background-color: #9d8b84; */
        /* background-image: url("../img/slider-background3.png"); */
    }
    /***** *****/
    /***** Баннеры *****/
    
    .banners {
        display: flex;
        justify-content: space-between;
        margin: 40px auto;
    }
    
    .banner1,
    .banner2 {
        width: 560px;
        height: 229px;
        border-radius: 15px;
        position: relative;
    }
    
    .banner1 h2,
    .banner2 h2 {
        font-size: 35px;
        font-weight: 700;
        line-height: 14px;
        padding-left: 20px;
    }
    
    .banner1 p,
    .banner2 p {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        width: 521px;
        padding-left: 20px;
    }
    
    .banner1 a,
    .banner2 a {
        position: absolute;
        right: 21px;
        bottom: 24px;
    }
    
    .banner1 {
        background-color: #c0254d;
        background-image: url("../img/bg-raspberry.jpg");
        background-position: 15% 50%;
    }
    
    .banner2 {
        background-color: #482b1a;
        background-image: url("../img/bg-chocolate.jpg");
        background-position: 89% 47%;
    }
    /***** *****/
    /***** Хиты *****/
    
    .catalog-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .catalog-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 267px;
        height: 324px;
        /* padding: 7px 13px; */
        /*Крайние наведение ?*/
        /* padding-right: 26px; */
        border-radius: 5px;
        position: relative;
    }
    
    .catalog-item p {
        margin: 0;
        padding: 0;
    }
    
    .catalog-item h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        text-align: center;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        /*подеркивание?*/
    }
    
    .catalog-item .catalog-item-image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 61px;
        height: 61px;
        background-image: url("../img/hit.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    
    .catalog-item-price {
        font-size: 45px;
        font-weight: 700;
        line-height: 45px;
        position: absolute;
        top: 209px;
        left: -2px;
        text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
    }
    
    .catalog-item-price span {
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
    }
    
    .catalog-item a {
        display: none;
    }
    
    .catalog-item:hover {
        /* z-index: 5; */
        background-color: rgba(255, 255, 255, 0.2);
        /*тень*/
    }
    /***** *****/
    
    .advantages {
        background-color: #ede0c7;
        background-image: url("../img/bg-waffle.jpg");
        background-repeat: repeat;
    }
    
    .advantages .about {
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        color: #323232;
    }
    
    .advantages-list {
        list-style: none;
    }
    
    .advantage-item {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #323232;
    }
    
    .news {
        background-color: #ffffff;
        background-image: url("../img/bg-news.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        color: #323232;
    }
    
    .news h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }
    
    .news a {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-decoration: underline;
        color: #323232;
    }
    
    .news a:hover,
    .news a:focus,
    .news a:active {
        color: #e84d37;
    }
    
    .mail {
        background-color: #f8f7f4;
        background-image: url("../img/bg-mail.png");
        background-repeat: no-repeat;
    }
    
    .mail p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #323232;
    }
    
    form input {
        color: #999999;
    }
    
    form input:hover {
        border-color: #9a9a9a;
    }
    
    form input:focus {
        border-color: #2e88e4;
    }
    /*.button:hover,
.button:focus {
    opacity: 0.8;
}

.button:active {
    background: linear-gradient(to top, #f26843, #e74a35);
    opacity: 0.93;
}*/
    
    .footer-social ul {
        list-style: none;
    }
    
    .footer-social a {
        color: #849d8f;
        background-color: rgba(255, 255, 255, 0.8);
        /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    }
    
    .footer-social a:hover,
    .footer-social a:focus {
        background-color: rgba(255, 255, 255, 1);
    }
    
    .footer-social a:active {
        background-color: rgba(255, 255, 255, 0.5);
        /*border: 2px solid rgba(255, 255, 255, 0.7);*/
    }
    
    .footer-information {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }
    
    .for-providers {
        font-weight: 700;
    }
    
    .footer-information ul {
        list-style: none;
    }
    
    .footer-copyright {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
    
    .footer-copyright a {
        text-decoration: underline;
    }
    
    .breadcrumbs {
        list-style: none;
    }
    
    .breadcrumbs li {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
    
    .pagination-list {
        list-style: none;
    }
    
    .pagination-item {
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
    }
    
    .pagination-item a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #ffffff;
    }
    
    .pagination-item-current a {
        color: #323232;
        background-color: #ffffff;
    }