body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    background-color: #849d8f;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.link:hover,
.link:focus {
    color: rgb(255, 188, 158);
}

.img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-header-logo {
    width: 154px;
    height: 64px;
}

.main-navigation-wrapper {
    width: 100%;
    margin-left: 9px;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
    position: relative;
}

.navigation-container {
    display: flex;
}

.main-navigation-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
}

.site-navigation,
.user-navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.site-navigation-link,
.user-navigation-link {
    color: #ffffff;
    display: block;
    border-radius: 25px;
}

.site-navigation-link {
    padding: 7px 14px;
    margin: 13px 0px;
}

.user-navigation-li {
    position: relative;
}

.site-navigation-link::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 1px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.user-navigation-link {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 9px 17px;
    margin: 13px 0px;
    margin-left: 8px;
}

.basket-link {
    position: relative;
    padding-left: 45px;
}

.basket-link::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 17px;
    width: 21px;
    height: 20px;
}

.basket-empty::before {
    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-full {
    text-decoration: none;
    background-color: #f7f6f3;
    color: #323232;
}

.basket-full::before {
    background-image: url("../img/basket-red.svg");
    background-repeat: no-repeat;
    background-position: 24% 49%;
}

.login-link {
    position: relative;
    padding-left: 46px;
}

.login-link::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 17px;
    width: 20px;
    height: 19px;
    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link:hover:before {
    text-decoration: none;
    background-color: #f7f6f3;
    color: #323232;
    background-image: url("../img/login-black.svg");
    background-repeat: no-repeat;
    background-position: 24% 49%;
}

.search-line {
    position: relative;
    padding: 16px;
    border-radius: 50%;
}

.search-line::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 6px;
    width: 20px;
    height: 19px;
    background-image: url("../img/loupe.svg");
    background-repeat: no-repeat;
    background-position: 40% 0;
}

.search-line:hover:before {
    text-decoration: none;
    background-color: #f7f6f3;
    color: #323232;
    background-image: url("../img/loupe-black.svg");
    background-repeat: no-repeat;
    background-position: 24% 49%;
}

.form {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.form p {
    margin: 0;
}

.form-input {
    color: rgba(153, 153, 153, 1);
    padding: 12px;
    border: 1px solid rgba(50, 50, 50, 0.3);
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.search-form {
    display: none;
    width: 310px;
    top: 50px;
    right: 0;
    padding: 20px 16px;
}

.login-form {
    display: none;
    width: 230px;
    top: 50px;
    right: 0;
    padding: 20px 16px;
}

.login-form .form-input {
    margin-bottom: 20px;
}

.form-login-link {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #323232;
    text-decoration: underline;
}

.login-form .form-login-button {
    border-radius: 18px;
    padding: 8px 22px;
}

.login-form-column {
    display: flex;
    flex-direction: column;
}

.login-form-row,
.basket-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket-form-row {
    padding-right: 20px;
    padding-bottom: 20px;
    position: relative;
}

.basket-delete-item {
    width: 16px;
    border: none;
    background-color: transparent;
    background-image: url("../img/cross-small.svg");
    background-repeat: no-repeat;
    background-position: 5px 12px;
}

.basket-delete-item:hover {
    cursor: pointer;
}

.basket-form {
    display: none;
    width: 509px;
    top: 50px;
    right: 0;
    padding: 20px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
}

.basket-item {
    width: 415px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.basket-item-img {
    width: 33px;
    height: 33px;
    margin: 0;
}

.basket-item-name {
    width: 230px;
}

.basket-item-price {
    color: #999999;
}

.item-price {
    padding-left: 15px;
}

.basket-form .underline {
    background-position: center bottom 0px;
    background-size: 100% 1px;
    background-image: linear-gradient(to top, #cacac7, #cacac7);
}

.basket-sum {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    align-self: flex-end;
    padding: 15px 0;
}

.basket-form .form-basket-button {
    align-self: flex-end;
    padding: 8px 14px;
    border-radius: 25px;
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.user-navigation-link:hover,
.user-navigation-link:focus {
    text-decoration: none;
    background-color: #f7f6f3;
    color: #323232;
}

.basket-empty:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: default;
}

.user-navigation-li:hover .login-form {
    display: block;
}

.user-navigation-li:hover .search-form {
    display: block;
}

.list-item-basket:hover .basket-form {
    display: flex;
}

.site-navigation-li {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: -5px;
    width: 143px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.sub-menu-link {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 6px 20px;
    margin: 5px auto;
}

.sub-menu-link:hover,
.sub-menu-link:focus {
    background-color: #fbded7;
}

.sub-menu-link:active {
    background-color: #f6b5a5;
}

.sub-menu-special {
    font-weight: 700;
    margin-bottom: 3px;
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    background-size: 90% 1px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.site-navigation-li:hover .sub-menu {
    display: block;
}

.catalog-link:active {
    background-color: rgba(234, 234, 234, 1);
    box-shadow: inset 0 2px 2px rgba(105, 105, 105, 1);
}

.current-navigation-link,
.sub-menu-current-link {
    background-color: #d07058;
}

.current-navigation-link::after {
    display: none;
}

.header-contacts {
    width: 168px;
    margin-left: auto;
}

.header-worktime {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: end;
    margin: 0;
    padding: 0;
}

.header-telephone {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    text-align: end;
    margin: 0;
    padding: 0;
}

.site-wrapper {
    padding-top: 10px;
    min-width: 1146px;
    background-color: #849d8f;
    background-image: url("../img/slider-background1.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slider-background2.png");
}

.site-wrapper::after {
    background-image: url("../img/slider-background3.png");
}

.slider {
    position: relative;
    padding-top: 270px;
    text-align: center;
    color: #ffffff;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.button {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: #fefefe;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    cursor: pointer;
    padding: 12px 22px;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-button {
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    display: inline-block;
    padding: 12px 41px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    text-align: center;
}

.slider-controls {
    position: absolute;
    bottom: 22px;
    left: 0;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#product-1:hover~.site-wrapper label[for="product-1"],
#product-2:hover~.site-wrapper label[for="product-2"],
#product-3:hover~.site-wrapper label[for="product-3"] {
    background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
    display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

#product-1:checked~.site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-background1.png");
}

#product-2:checked~.site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-background2.png");
}

#product-3:checked~.site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-background3.png");
}

.banners {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.banner1,
.banner2 {
    width: 560px;
    height: 229px;
    border-radius: 15px;
    position: relative;
}

.banner-header {
    font-size: 35px;
    font-weight: 700;
    line-height: 14px;
    padding-left: 20px;
}

.banner-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    width: 521px;
    padding-left: 20px;
}

.banner-button {
    position: absolute;
    right: 21px;
    bottom: 24px;
    padding: 11px 22px;
}

.banner1 {
    background-color: #c0254d;
    background-image: url("../img/bg-raspberry.jpg");
    background-position: 13% 52%;
}

.banner2 {
    background-color: #482b1a;
    background-image: url("../img/bg-chocolate.jpg");
    background-position: 89% 47%;
}

.catalog {
    display: flex;
    flex-direction: column;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    display: block;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 267px;
    height: 324px;
    margin-bottom: 38px;
    border-radius: 5px;
    position: relative;
}

.catalog-item:hover {
    z-index: 1;
}

.catalog-item p {
    margin: 0;
    padding: 0;
}

.item-header-wrap {
    width: 267px;
    text-align: center;
    margin-top: 7px;
}

.catalog-item:hover .item-header-wrap {
    margin-bottom: 15px;
}

.item-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    padding: 0;
    display: inline;
    height:40px;
}

.underline {
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    background-size: 100% 1px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.catalog-item:hover .catalog-item-image{
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.catalog-item-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-item:hover .catalog-item-image::before {
    z-index: 3;
}

.catalog-item-price {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    position: absolute;
    top: 209px;
    left: -2px;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item:hover .catalog-item-price{
    z-index: 2;
    cursor: pointer;
}

.rouble {
    padding-left: 5px;
}

.item-price-unit {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

.catalog-item-link {
    display: none;
    padding: 10px 14px;
}

.catalog-item:hover .catalog-item-link {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.catalog-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 410px;
}

.catalog-item:hover:after {
    left: -13px;
    top: -7px;
    right: -13px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.advantages {
    background-color: #ede0c7;
    background-image: url("../img/bg-waffle.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-bottom: 40px;
}

.advantages-list,
.advantages-list p {
    margin: 0;
    padding: 0;
}

.advantages-description {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    color: #323232;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 21px;
    padding-left: 20px;
}

.advantages-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.advantage-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #323232;
    width: 480px;
    padding-left: 76px;
    padding-bottom: 23px;
    margin-right: 11px;
}

.advantage-item p {
    position: relative;
}

.advantage-item p::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantage-item .item-ice-cream::before {
    background-image: url("../img/ice-cream.svg");
    top: -13px;
    left: -56px;
}

.advantage-item .item-cow::before {
    background-image: url("../img/cow.svg");
    top: -13px;
    left: -58px;
}

.advantage-item .item-eco::before {
    background-image: url("../img/eco.svg");
    top: -14px;
    left: -56px;
}

.advantage-item .item-thermometer::before {
    background-image: url("../img/thermometer.svg");
    top: -14px;
    left: -58px;
}

.news-container {
    display: flex;
    justify-content: space-between;
    height: 220px;
    margin-bottom: 40px;
}

.news {
    width: 560px;
    background-color: #ffffff;
    background-image: url("../img/bg-news.jpg");
    background-position: -27px -224px;
    background-repeat: no-repeat;
    color: #323232;
    border-radius: 15px;
}

.news-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    padding-top: 23px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.news p {
    width: 290px;
    margin: 0;
    padding-left: 20px;
}

.news-link {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
    color: #323232;
}

.news-link:hover,
.news-link:focus,
.news-link:active {
    color: #e84d37;
}

.mail {
    width: 560px;
    background-color: #f8f7f4;
    background-image: url("../img/bg-mail.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail-info {
    width: 507px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #5a5a5a;
    margin: 35px 0;

}

.mail-form {
    width: 507px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-form p {
    margin: 0;
}

.user-mailing-address {
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    padding: 12px;
    box-sizing: border-box;
    width: 368px;
    color: rgba(153, 153, 153, 1);
}

.user-mailing-address:hover {
    border: 1px solid rgba(154, 154, 154, 0.52);
    box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52) inset;
}

.user-mailing-address:focus {
    border: 1px solid rgba(46, 136, 228, 0.52);
    box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52) inset;
    color: #323232;
}

.mail-send-button {
    padding: 11px 18px;
}

.map-container {
    position: relative;
    width: 1200px;
    height: 430px;
    background-image: url("../img/map.jpg");
    background-position: 10% 51%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.feedback-container {
    font-size: 14px;
    font-weight: 400;
    width: 302px;
    height: 305px;
    color: #323232;
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 15px;
    position: absolute;
    top: 62px;
    right: 27px;
    display: flex;
    flex-direction: column;
}

.feedback-address-info {
    margin-top: 29px;
    margin-bottom: 18px;
    margin-left: 25px;
    line-height: 20px;
}

.feedback-address {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.feedback-telephone-info {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
}

.feedback-telephone {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.feedback-worktime {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
}

.feedback-button {
    margin: 22px 24px;
}

.main-footer {
    display: flex;
}

.footer-social {
    margin-right: 235px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 187px;
    padding: 0;
    margin: 35px 0;
    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-button:hover,
.social-button:focus {
    opacity: 1;
}

.social-button:active {
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.twitter-button {
    background-image: url("../img/twitter.svg");
}

.instagram-button {
    background-image: url("../img/instagram.svg");
}

.facebook-button {
    background-image: url("../img/fb.svg");
}

.vk-button {
    background-image: url("../img/vk.svg");
}

.footer-information {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    list-style: none;
    margin: 33px 0;
}

.footer-information-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    width: 304px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.footer-information-list .underline:hover,
.footer-information-list .underline:focus,
.footer-copyright .underline:hover,
.footer-copyright .underline:focus,
.breadcrumbs .underline:hover,
.breadcrumbs .underline:focus {
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    background-size: 100% 1px;
    background-image: linear-gradient(to top, rgba(255, 188, 158, 0.2), rgba(255, 188, 158, 0.2));
}

.breadcrumbs-link:hover::after,
.breadcrumbs-link:focus::after {
    color: #ffffff;
}

.for-providers {
    font-weight: 700;
    position: relative;
}

.for-providers::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 3px;
    left: -22px;
}

.footer-copyright {
    margin-left: auto;
    margin-top: 18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.footer-copyright-logo {
    margin-left: 2px;
}

.footer-copyright p {
    margin: 0;
}

.catalog-wrapper {
    padding-top: 10px;
    min-width: 1146px;
    background-color: #849d8f;
}

.catalog-header {
    font-size: 35px;
    font-weight: 700;
    line-height: 44px;
    margin-top: -9px;
    margin-bottom: 25px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 89px;
    left: 26px;
}

.breadcrumbs li {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
}

.breadcrumbs-link {
    margin-right: 21px;
}

.breadcrumbs-link::after {
    content: "»";
    position: absolute;
    top: 0;
    right: 6px;
}

.filters {
    margin-bottom: 41px;
}

.filters-form {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.filter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 17px;
    margin-right: 287px;
}

.filter-row-1 {
    margin-right: 290px;
}

.filter-column {
    display: flex;
    flex-direction: column;
}

.form-select-wrap {
    width: 193px;
    height: 36px;
    border-radius: 25px;
    background: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: 92% 56%;
}

.form-select {
    padding-left: 15px;
    width: 193px;
    height: 36px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    color: #ffffff;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.form-select::-ms-expand {
    display: none;
}

.form-select:hover {
    background: url("../img/icon-down-dir-black.svg");
    background-repeat: no-repeat;
    background-position: 92% 56%;
    background-color: #ffffff;
    color: #000000;
}

.select-option {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    padding: 0;
}

.range {
    width: 218px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    position: relative;
}

.range-scale {
    width: 176px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 16px;
    left: 20px;
}

.range-bar {
    width: 98px;
    height: 4px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 22px;
}

.range-toggle {
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 #ababab;
    cursor: pointer;
    position: absolute;
    top: -7px;
}

.range-toggle-min {
    left: -10px;
}

.range-toggle-max {
    right: -10px;
}

.filters-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
    padding-left: 15px;
    padding-bottom: 5px;
}

.filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 36px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.filter-fat {
    width: 415px;
}

.filter-filler {
    width: 700px;
}
.radio-input,
.checkbox-input{
    display: none;
}

.filter-option label {
    cursor: pointer;
    position: relative;
}

.radio-option {
    margin-left: 46px;
    margin-right: 4px;
}

.radio-option label:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -32px;
    bottom: -6px;
    background: url("../img/radio-off.svg") 0 0 no-repeat;
    background-size: 90%;
    opacity: 0.8;
}

.radio-input:checked+label:before {
    background: url("../img/radio-on.svg") 0 0 no-repeat;
    background-size: 90%;
}

.filter-option label:hover:before {
    opacity: 1;
}

.radio-input:disabled+label:before,
.radio-input:disabled+label {
    opacity: 0.4;
    cursor: default;
}

.checkbox-option {
    margin-left: 48px;
    margin-right: 5px;
}

.checkbox-option label:before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 23px;
    position: absolute;
    left: -33px;
    bottom: -4px;
    background: url("../img/checkbox-off.svg") 0 0 no-repeat;
    background-size: 80%;
    opacity: 0.8;
}

.checkbox-input:checked+label:before {
    background: url("../img/checkbox-on.svg") 0 0 no-repeat;
    background-size: 95%;
}

.filter-option label:hover:before {
    opacity: 1;
}

.checkbox-input:disabled+label:before,
.checkbox-input:disabled+label {
    opacity: 0.4;
    cursor: auto;
}

.filter-button {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    height: 36px;
    padding: 5px 28px;
    border: 2px solid #ffffff;
    border-radius: 17px;
    opacity: 0.97;
    outline: none;
}

.filter-button:hover {
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
}

.filter-button:active {
    border: none;
    background-color: rgba(234, 234, 234, 1);
    box-shadow: inset 0 2px 2px rgba(105, 105, 105, 1);
}

.pagination-list {
    list-style: none;
    display: flex;
    width: 132px;
    padding: 0;
    margin-top: 46px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: 35px;
    position: relative;
}

.pagination-list::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background-image: url("../img/icon-right-arrow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 3px;
    left: -25px;
    transform: rotate(180deg);
    opacity: 0.2;
}

.pagination-list::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background-image: url("../img/icon-right-arrow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 3px;
    right: -35px;
}

.pagination-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding-right: 4px;
}

.pagination-link {
    border-radius: 50%;
    padding: 3px 8px;
}

.pagination-link:hover,
.pagination-link:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.pagination-item-current .pagination-link,
.pagination-link:active {
    color: #323232;
    background-color: #ffffff;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.modal-feedback {
    position: fixed;
    color: #323232;
    z-index: 10;
    top: 20%;
    left: 35%;
    width: 435px;
    display: none;
}

.feedback-form {
    width: 435px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 26px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 10px;
}

.feedback-form-description {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 16px;
}

.feedback-form-name,
.feedback-form-email {
    width: 267px;
    margin-bottom: 20px;
    outline: none;
}

.feedback-form-text {
    width: 100%;
    box-sizing: border-box;
    color: #999999;
    padding: 12px;
    border: 1px solid rgba(50, 50, 50, 0.3);
    border-radius: 5px;
    margin-bottom: 18px;
    outline: none;
    resize: none;
}

.feedback-form-button {
    align-self: flex-end;
}

.modal-close {
    position: absolute;
    top: 4px;
    right: -36px;
    width: 18px;
    height: 17px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 2;
}

.modal-close::after {
    content: "";
    position: absolute;
    top: 8;
    right: 0;
    width: 18px;
    height: 17px;
    background-image: url("../img/cross-big.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.modal-overlay::before {
    content: "";
    visibility: hidden;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay-show::before {
    visibility: visible;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.form-input:hover,
.feedback-form-text:hover {
    border: 1px solid rgba(154, 154, 154, 0.52);
    box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52) inset;
}

.form-input:focus,
.feedback-form-text:focus {
    color: #323232;
    box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52) inset;
    border: 1px solid rgba(46, 136, 228, 0.52);
}
